{% extends 'base.html.twig' %}

{% block title %}Liste des Formations{% endblock %}

{% block body %}
<div class="row" style="margin-top:15px;">
          <div class="col-md-12">
            <div class="card">
  <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdFormation</th>
                <th>Intitule</th>
                <th>Niveau</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.idFormation }}</td>
                <td>{{ formation.intitule }}</td>
                <td>{{ formation.niveau }}</td>
                <td>{{ formation.ville }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">Consulter</a>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>

    <a href="{{ path('formation_new') }}">Créer une formation</a>
{% endblock %}
