{% extends 'base.html.twig' %}


{% block titre %}
<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{stages.id}}</h1>
{% endblock %}

{% block bouttons %}



<div class="row">
		<div class="col-md-12">
			<div class="media">
				<img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
				<div class="media-body">
					<h5 class="mt-0">
						{{stages.intitule}}
					</h5>
					<div>
					Description :	{{stages.description}}
					</div>
					<div>
					Date début : {{stages.dateDebut}}
					</div>
					<div>
					Durée : {{stages.duree}}
					</div>
					<div>
					Compétences requises : {{stages.competencesRequises}}
					</div>
					<div>
					Experiences requises : {{stages.experienceRequise}}
					</div>
					<div>
					Nom de l'entreprise : {{stages.entreprises.nom}}
					</div>
					<div>
					Adresse de l'entreprise : {{stages.entreprises.adresse}}
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
