{% extends 'base.html.twig' %}

{% block titre %}
<h1>Bienvenue sur la page d'accueil de Prostages</h1>
{% endblock %}

{% block bouttons %}
<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h3>
					Bienvenue à toi !
				</h3>
				<p>
					Tu trouveras ci-dessous tous les stages en informatique proposés par des entreprises basées dans le Pays Basque. Ces différents stages sont pour des étudiants de DUT Informatique, de Licence Professionnelle Multimédia ou encore de DU TIC !
					En espérant que tu trouves un stages très rapidement.
				</p>
			</div>
		</div>
	</div>

	<!-- MISE EN PLACE DU TABLEAU EN DUR -->
	<center>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-bordered">
				<thead>
					<tr class="table-warning">
						<th>
							Identifiant du Stage
						</th>
						<th>
							Intitule
						</th>
						<th>
							Description
						</th>
						<th>
							Duree
						</th>
						<th>
							Formation
						</th>
						<th>
							Entreprise
						</th>
					</tr>
				</thead>
				<tbody>
					{% for stageCourant in stages %}
					<tr class="table-warning">
						<td>
							<a href="{{path('pro_stages_stages',{id:stageCourant.id})}}">{{stageCourant.id}}</a>
						</td>
						<td>
							{{stageCourant.intitule}}
						</td>
						<td>
							{{stageCourant.description}}
						</td>
						<td>
							{{stageCourant.duree}}
						</td>
						<td>
							formation
						</td>
						<td>
							entreprise
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	</center>
{% endblock %}
