{% extends 'base.html.twig' %}


{% block bouttons %}

<center>
<h2> Veuillez trouver ci-dessous les stages proposés par la formation {{intitule}} </h2></br>
Nom de la formation : {{intitule}} </br>
Stage proposé : {% for stageCourant in stage %}
                Stage numéro {{stageCourant.id}}
                Intitule du stage : {{stageCourant.intitule}}
                Descritpion du stage : {{stageCourant.description}}
                Date de debut du stage : {{stageCourant.dateDebut}} </br>
                {% endfor %}


</center>

{% endblock %}
